   #panell{
     margin-top: 70px;
   }
   #loginbtn{
     float: right;
     margin-bottom: 10px;
     margin-right: 10px;
     margin-top: 8px;
   }
   #title{
     color: white;
     padding: 8px;
   }
   form{
     padding:0px;
     border-radius: 3px;
     box-sizing: border-box;
   }
   #username,#password{
    margin-left: 20px;
    margin-right: 20px;
   }
   #checkbox{
    margin-left: 30px;
   }

   .color {
    background-color: #112E42 !important;
   }

   .img-logo {
      width: 183px;
      margin-top: 7px;
   }

   .actions {
      margin-bottom: 25px;
      margin-top: 25px;
      margin-left: 30%;
   }
   .field-remember-me {
      margin-left: 26px;
   }
   nav {
    background: rgb(9, 184, 184);
    color: black;
   }
   .color-tex {
      color: #6b6a6a;
   }

   .table-lik {
    cursor: pointer;
   }

   .table-lik:hover { 
    background-color: rgb(231, 231, 231);
   }

   .menu-top {
    padding-top: 20px !important; ;
   }

   .abnos-table {
    background: #b1dcfb;
   }

   .pagos {
    border-bottom: 1px solid;
    border-top: 1px solid;
    margin: 20px 0 20px 0;
   }

   .plazos {
    padding: 0px !important;
    border-bottom: 1px solid;
    border-top: 1px solid;
    margin: 20px 0 20px 0;
   }

   .pago-tile {
    background: #bdbcb8;
    border-radius: 6px;
   }

   .pago-content {
    margin-top: 6px !important;
   }

   [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: relative;
    pointer-events: none;
    opacity: 1 !important; 
    pointer-events: all;
   }

   [type="radio"]:not(:checked), [type="radio"]:checked {
      position: absolute;
      opacity: 1;
      pointer-events: auto;
   }